*,
*::after,
*::before{
  box-sizing: border-box;
}

/* font-family: 'Bebas Neue',cursive;
font-family: 'Roboto',sans-serif; */

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.header{
  padding: 12px 0;
  background-color: #635854;
  border-bottom: 4px solid #3596F5;
 }

 .header__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .logo {}

 .ligo__img {}

 .menu {
}

.menu__list {
  display: flex;
 
}


 .menu__item {
   text-align: center;
   margin-right: 80px;
 }

 .menu__link {
   color: #fff;
   font-size: 16px;
   line-height: 19px;
   font-family: 'Roboto', sans-serif;
 }

 .phone {
   color: #fff;
 }

 .phone__text {
   font-size: 14px;
   line-height: 16px;
   text-align: end;
   margin-bottom: 4px;
 }

 .phone__link {
   font-size: 17px;
   line-height: 20px;
   font-weight: bold;
   color: inherit;
 }